body {
  margin: 0px;
  font-family: Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: .875rem;
}
.page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(247,247,248);
  text-align: center;
  display: table-cell;
  vertical-align: middle;     
}

/* Auth Page */
.logo {
  font-size: 32px; 
  padding-bottom: 12px;
}
.text {
  padding-bottom: 12px;
}
.button {
  background-color: #10a37f;
  border: none;
  padding: .5rem .75rem;
  color: white;
  font-size: .875rem;
  border-radius: .25rem;
  cursor: pointer;
}
.button:hover {
  background-color: #10886a;
}

/* Chat Page */
.chat-page {
  text-align: left;
  vertical-align: top;
  background-color: rgb(52,53,65);
}

/* Custom CSS */
.ce-chat-list {
  background-color: rgb(32,33,35) !important;
}
.ce-custom-new-chat-button {
  margin: 6px;
  width: auto;
  border: 1px solid hsla(0,0%,100%,.2);
  border-radius: .375rem;
  padding: 14px;
  color: white;
  font-size: .875rem;
  cursor: pointer;
  transition: all 0.33s ease;
}
.ce-custom-new-chat-button:hover {
  background-color: rgb(43, 43, 44);
}
.ce-chat-feed {background-color: rgb(52,53,65) !important;}
.ce-chat-header {background-color: rgb(52,53,65) !important;}
.ce-message-list { background-color: rgb(52,53,65) !important;}
.ce-message-form { background-color: rgb(52,53,65) !important; padding-top: "4px";}
#ce-upload-document-button { display: none !important; }

.ce-chat-card { transition: all 0.1s ease; }
/* .ce-chat-card-subtitle-html { display: none; } */
/* .ce-chat-card-time-stamp { display: none; } */
.ce-chat-card-title { color: white; }
.ce-hovered-chat-card { background-color: rgb(39, 40, 48) !important; }
.ce-active-chat-card { background-color: rgb(52,53,65) !important; }


.ce-custom-chat-card {
  margin: 4px;
  border-radius: .375rem;
  width: auto;
  background-color: rgb(52,53,65);
}